*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: $font-family;
  background: #f3f3f3;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.btn {
  outline: 0;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
